#screen{
	background-color:#E4E4E4;
	float:left;
	margin-right:10px;
	z-index:1;
	position:absolute;
}

#infoDiv{	
	float:left;
	display:none;	
}

#full_screen_button{
	z-index:2;
	position:absolute;
}
